body{
background:black;
}
header{
text-align:center;
font-weight:bold;
font-size:60px;
color:white;
}
.trending{
 font-size:70px;
 font-family:bernard mt;
}
.subheading{
font-size:20px;
}
.img{
float:left;
height:200px;
 width:300px;
 margin:10px;
}
footer{
 position:fixed;
 text-align:center;
 background:grey;
 height:50px;
 width:100%;
 opacity:0.95;
 color:white;
}
.second{
 text-align:center;
 height:20px;
 opacity:0.85;
}
.submenu{
 font-size:10px;
 color:white;
}
p{
 padding:2%;
 color:white;
}
ul{
 background:#1A5276;
 list-style:none;
 color:white;
 border-radius: 10px;
}
ul li{
 display:inline-block;
 padding:2%;
 font-size:25px;
 }
 section{
 font-size:30px;
 color:white;
 margin:10px;
 }
 ul li a {
  text-decoration:none;
  color:white;
 }
 ul li a:hover{
 text-decoration:underline;
 color:white;
 }
 iframe{
 margin:10px;
 }
